In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [2]:
# Load CSV
purchase_data = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(purchase_data)
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
# Current Column Labels 
purchase_df.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [4]:
# Update Column Labels 
purchase_df.columns = ['Purchase_ID', 'Players', 'Age', 'Gender', 'Item_ID', 'Item_Name', 'Price']

In [5]:
# Check Changes 
purchase_df.columns

Index(['Purchase_ID', 'Players', 'Age', 'Gender', 'Item_ID', 'Item_Name',
       'Price'],
      dtype='object')

In [6]:
# View updated dataframe 
purchase_df.head()

,Purchase_ID,Players,Age,Gender,Item_ID,Item_Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [7]:
# Decribe Data 
purchase_df.describe()

       Purchase_ID         Age     Item_ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   92.114103    3.050987
std     225.310896    6.659444   52.775943    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   48.000000    1.980000
50%     389.500000   22.000000   93.000000    3.150000
75%     584.250000   25.000000  139.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [ ]:
# HOORAY CLEANLINESS

# Player Count
    Display the total number of players

In [8]:
# Player Count - Display the total number of players
total_players = purchase_df.groupby(["Players"])
len(total_players)

576

In [9]:
total_players_df = pd.DataFrame({"Total_Players": [len(total_players)]})
total_players_df

   Total_Players
0            576

In [ ]:
# Next section

# Purchasing Analysis (Total)
     Run basic calculations to obtain number of unique items, average price, etc.
     Create a summary data frame to hold the results
     Optional: give the displayed data cleaner formatting
     Display the summary data frame

In [10]:
# Number of Unique Items 
Number_of_Unique_Items = purchase_df.groupby('Item_ID')['Item_ID'].count()
Number_of_Unique_Items.head()

Item_ID
0    4
1    3
2    6
3    6
4    5
Name: Item_ID, dtype: int64

In [11]:
Number_of_Unique_Items.describe()

count    183.000000
mean       4.262295
std        1.954721
min        1.000000
25%        3.000000
50%        4.000000
75%        5.000000
max       12.000000
Name: Item_ID, dtype: float64

In [12]:
Number_of_Unique_Items.count()

183

In [13]:
# Average Price 
Average_Price = np.around(purchase_df["Price"].mean(), decimals=2)
Average_Price

3.05

In [14]:
# Number of Purchases
Number_of_Purchases = purchase_df.Item_ID.count()
Number_of_Purchases

780

In [15]:
# Total Revenue
Total_Revenue = np.around(purchase_df.Price.sum(), decimals=2)
Total_Revenue

2379.77

In [16]:
Purchasing_Analysis_df = pd.DataFrame({"Number_of_Unique_Items ": [Number_of_Unique_Items.count()],
                           "Average_Price": [Average_Price],
                           "Number_of_Purchases": [Number_of_Purchases],
                           "Total_Revenue": [Total_Revenue ]})
Purchasing_Analysis_df

   Number_of_Unique_Items   Average_Price  Number_of_Purchases  Total_Revenue
0                      183           3.05                  780        2379.77

In [ ]:
# Next section

# Gender Demographics
    Percentage and Count of Male Players
    Percentage and Count of Female Players
    Percentage and Count of Other / Non-Disclosed

In [17]:
# Find Male Players 
gender_males = purchase_df.loc[purchase_df["Gender"] == "Male"]
gender_males.head()

,Purchase_ID,Players,Age,Gender,Item_ID,Item_Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [18]:
# Group Male Players and calculate total 
total_males = gender_males.groupby(["Players"])
len(total_males)

484

In [19]:
# Find Female Players
gender_females = purchase_df.loc[purchase_df["Gender"] == "Female"]
gender_females.head()

,Purchase_ID,Players,Age,Gender,Item_ID,Item_Name,Price
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79

In [20]:
# Group Female Players and calculate total 
total_females = gender_females.groupby(["Players"])
len(total_females)

81

In [21]:
# Find Other / Non-Disclosed Players
gender_other = purchase_df.loc[purchase_df["Gender"] == "Other / Non-Disclosed"] 
gender_other.head()

,Purchase_ID,Players,Age,Gender,Item_ID,Item_Name,Price
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39

In [22]:
# Group and calculate total 
total_other = gender_other.groupby(["Players"])
len(total_other)

11

In [23]:
# Determine the percentage of Male purhcases
percent_males = len(total_males) / len(total_players) * 100
males_round = np.around(percent_males, decimals=2)
males_round

84.03

In [24]:
# Determine the percentage of Female purhcases
percent_females = len(total_females) / len(total_players) * 100
females_round = np.around(percent_females, decimals=2)
females_round

14.06

In [25]:
# Determine the percentage of Other purhcases
percent_other = len(total_other) / len(total_players) * 100
other_round = np.around(percent_other, decimals=2)
other_round

1.91

In [26]:
# initialise data of lists. 
gender_data = {'Total_Count':[len(total_males), len(total_females), len(total_other)], 'Percentage_of_Players':[males_round, females_round, other_round]} 
  
# Creates pandas DataFrame. 
Gender_Demographics_df = pd.DataFrame(gender_data, index =['Male', 'Female', 'Other / Non-Disclosed']) 
  
# print the data 
Gender_Demographics_df

                       Total_Count  Percentage_of_Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91

In [ ]:
# Next Section

# Purchasing Analysis (Gender)
     Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
     Create a summary data frame to hold the results
     Optional: give the displayed data cleaner formatting
     Display the summary data frame

In [27]:
# Find the Total Count of purchases by Gender 
Gender_Purchases = purchase_df.groupby('Gender')['Item_ID'].count()
Gender_Purchases.head()

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Item_ID, dtype: int64

In [28]:
# DataFrame for Total Count of purchases by Gender - need to change Column name 
Gender_Purchases_df = pd.DataFrame(Gender_Purchases)
Gender_Purchases_df

                       Item_ID
Gender
Female                     113
Male                       652
Other / Non-Disclosed       15

In [29]:
# Rename the "Item_ID" column to "Purchase Count"
Gender_Purchases_df = Gender_Purchases_df.rename(
    columns={"Item_ID": "Purchase_Count"})
Gender_Purchases_df.head()

                       Purchase_Count
Gender
Female                            113
Male                              652
Other / Non-Disclosed              15

In [30]:
# Find Average Purcahse Pruchase Price by Gender 
Gender_Avg_Prices = purchase_df.groupby('Gender')['Price'].mean()
Gender_Avg_Prices.head()

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [31]:
round_avg = np.around(Gender_Avg_Prices, decimals=2)

In [32]:
# DataFrame for Average Purhcase Price by Gender - need to change Column name 
Gender_Avg_Prices_df = pd.DataFrame(round_avg)
Gender_Avg_Prices_df

                       Price
Gender
Female                  3.20
Male                    3.02
Other / Non-Disclosed   3.35

In [33]:
# Rename the "Price" column to "Average Purchase Price"
Gender_Avg_Prices_df = Gender_Avg_Prices_df.rename(
    columns={"Price": "Average Purchase_Price"})
Gender_Avg_Prices_df.head()

                       Average Purchase_Price
Gender
Female                                   3.20
Male                                     3.02
Other / Non-Disclosed                    3.35

In [34]:
# Find the Total Purchase Value by Gender 
Gender_Sum_Prices = purchase_df.groupby('Gender')['Price'].sum()
Gender_Sum_Prices.head()

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [35]:
# DataFrame for Total Purchase Value by Gender - need to change Column name 
Gender_Sum_Prices_df = pd.DataFrame(Gender_Sum_Prices)
Gender_Sum_Prices_df.head()

                         Price
Gender
Female                  361.94
Male                   1967.64
Other / Non-Disclosed    50.19

In [36]:
# Rename the "Price" column to "Total Purchase Value"
Gender_Sum_Prices_df = Gender_Sum_Prices_df.rename(
    columns={"Price": "Total_Purchase_Value"})
Gender_Sum_Prices_df.head()

                       Total_Purchase_Value
Gender
Female                               361.94
Male                                1967.64
Other / Non-Disclosed                 50.19

In [37]:
# Combine Gender Purchases and Avg Prices into one DataFrame 
gender_table_one_df = pd.merge(Gender_Purchases_df, Gender_Avg_Prices_df, on="Gender")
gender_table_one_df

                       Purchase_Count  Average Purchase_Price
Gender
Female                            113                    3.20
Male                              652                    3.02
Other / Non-Disclosed              15                    3.35

In [38]:
# Combine Gender Sums into one DataFrame
gender_table_two_df = pd.merge(gender_table_one_df, Gender_Sum_Prices_df, on="Gender")
gender_table_two_df

,Purchase_Count,Average Purchase_Price,Total_Purchase_Value
Gender,,,
Female,113,3.20,361.94
Male,652,3.02,1967.64
Other / Non-Disclosed,15,3.35,50.19

In [39]:
# Create a New Column "Avg Total Purchase per Person" that calculates the average total purchase price per person by Gender 
gender_table_two_df["Avg_Total_Purchase_per_Person"] = len(Gender_Purchases_df) / Gender_Sum_Prices_df 
gender_table_two_df

,Purchase_Count,Average Purchase_Price,Total_Purchase_Value,Avg_Total_Purchase_per_Person
Gender,,,,
Female,113,3.20,361.94,0.008289
Male,652,3.02,1967.64,0.001525
Other / Non-Disclosed,15,3.35,50.19,0.059773

In [ ]:
# Next section

# Age Demographics
     Establish bins for ages
     Categorize the existing players using the age bins. Hint: use pd.cut()
     Calculate the numbers and percentages by age group
     Create a summary data frame to hold the results
     Optional: round the percentage column to two decimal points
     Display Age Demographics Table

In [40]:
print(purchase_df.Age.max())

45

In [41]:
print(purchase_df.Age.min())

7

In [42]:
# Create the bins for Ages 
bins = [0, 9, 14, 19, 24, 29, 34, 39, 45]

# Create the names for the bins
Age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [43]:
# pd.cut for binning 
Age_Demographics = pd.cut(purchase_df["Age"], bins, labels=Age_labels)
Age_Demographics.head()

0    20-24
1      40+
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [44]:
# run dataframe for bins 
Age_Demographics_df = pd.DataFrame(Age_Demographics)
Age_Demographics_df.head()

     Age
0  20-24
1    40+
2  20-24
3  20-24
4  20-24

In [45]:
# groupby bins and count 
age_group = Age_Demographics_df.groupby("Age")
age_table = age_group['Age'].count()
age_table

Age
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Age, dtype: int64

In [46]:
# Turn into a Dataframe
age_grp_df = pd.DataFrame(age_table)
age_grp_df

       Age
Age
<10     23
10-14   28
15-19  136
20-24  365
25-29  101
30-34   73
35-39   41
40+     13

In [47]:
# Rename the "Age" column to "Total Count"
age_grp_df = age_grp_df.rename(
    columns={"Age": "Total_Count"})
age_grp_df

       Total_Count
Age
<10             23
10-14           28
15-19          136
20-24          365
25-29          101
30-34           73
35-39           41
40+             13

In [48]:
# Determine the percentage of each age group & Create a New Column "Percentage of Players"  
age_grp_df["Percentage_of_Players"] =  (age_grp_df["Total_Count"]) / len(total_players) * 100
age_grp_df
# I believe the numbers are off due to not consolidating the players before creating the bins

       Total_Count  Percentage_of_Players
Age
<10             23               3.993056
10-14           28               4.861111
15-19          136              23.611111
20-24          365              63.368056
25-29          101              17.534722
30-34           73              12.673611
35-39           41               7.118056
40+             13               2.256944

In [ ]:
# Next section

# Purchasing Analysis (Age)
    Bin the purchase_data data frame by age
    Run basic calculations to obtain: 
        purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
    Create a summary data frame to hold the results
    Optional: give the displayed data cleaner formatting
    Display the summary data frame

In [49]:
age_players_data =  purchase_df.groupby(["Age"])

In [50]:
def get_stats(group):
    return {'count': group.count(), 'mean': group.mean(), 'sum': group.sum()}

In [51]:
# Create the bins for Ages 
bins = [0, 9, 14, 19, 24, 29, 34, 39, 45]

# Create the names for the bins
Age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [53]:
Age_Analysis = pd.cut(purchase_df["Age"], bins, labels=Age_labels)
Age_Analysis.head()

0    20-24
1      40+
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [54]:
# run dataframe for bins 
Age_Analysis_df = pd.DataFrame(age_players_data)
Age_Analysis_df.head()

    0                                                  1
0   7       Purchase_ID        Players  Age  Gender  ...
1   8       Purchase_ID       Players  Age  Gender  I...
2   9       Purchase_ID       Players  Age Gender  It...
3  10       Purchase_ID     Players  Age  Gender  Ite...
4  11       Purchase_ID      Players  Age Gender  Ite...

# Top Spenders
    Run basic calculations to the Purchase Count, Average Purchase Price, Total Purchase Value by Player (use Screenames)
    Create a summary data frame to hold the results
    Sort the total purchase value column in descending order
    Optional: give the displayed data cleaner formatting
    Display a preview of the summary data frame

In [55]:
# Groupby Player's and price
Player_Purchases = purchase_df.groupby('Players')['Price']
Player_Purchases.head()

0      3.53
1      1.56
2      4.88
3      3.27
4      1.44
5      3.61
6      2.18
7      2.67
8      1.10
9      3.58
10     4.74
11     2.67
12     4.18
13     1.70
14     4.86
15     2.89
16     2.52
17     1.76
18     4.90
19     4.64
20     4.60
21     1.48
22     3.81
23     3.40
24     3.19
25     4.23
26     1.61
27     3.09
28     4.32
29     3.16
       ...
750    3.61
751    3.36
752    2.60
753    4.23
754    4.05
755    3.15
756    2.05
757    4.60
758    4.03
759    3.77
760    2.38
761    1.70
762    1.44
763    1.75
764    4.07
765    2.07
766    4.14
767    4.88
768    4.88
769    4.58
770    1.02
771    4.35
772    3.58
773    1.02
774    4.19
775    3.54
776    1.63
777    3.46
778    4.19
779    4.60
Name: Price, Length: 780, dtype: float64

In [56]:
# Groupby Player's and price
Player_Purchase_Count = Player_Purchases.count()
Player_Purchase_Count.head()

Players
Adairialis76    1
Adastirin33     1
Aeda94          1
Aela59          1
Aelaria33       1
Name: Price, dtype: int64

In [57]:
# Create DataFrame 
Player_Purchases_df = pd.DataFrame(Player_Purchase_Count)
Player_Purchases_df.head()

              Price
Players
Adairialis76      1
Adastirin33       1
Aeda94            1
Aela59            1
Aelaria33         1

In [58]:
# Sort Dataframe highest amount of purchases to lowest
Sorted_Player_Purchases_df = Player_Purchases_df.sort_values(by=['Price'], ascending=False)
Sorted_Player_Purchases_df.head()

             Price
Players
Lisosia93        5
Iral74           4
Idastidru52      4
Asur53           3
Inguron55        3

In [59]:
# Rename "Price" column to "Purchase_Count"
Sorted_Player_Purchases_df = Sorted_Player_Purchases_df.rename(
    columns={"Price": "Purchase_Count"})
Sorted_Player_Purchases_df.head()

             Purchase_Count
Players
Lisosia93                 5
Iral74                    4
Idastidru52               4
Asur53                    3
Inguron55                 3

In [60]:
# Add Column for Average_Purchase_Price per Player
Sorted_Player_Purchases_df["Average_Purchase_Price"] = purchase_df["Price"].mean()
Sorted_Player_Purchases_df.head()

             Purchase_Count  Average_Purchase_Price
Players
Lisosia93                 5                3.050987
Iral74                    4                3.050987
Idastidru52               4                3.050987
Asur53                    3                3.050987
Inguron55                 3                3.050987

In [ ]:
# Add Column for Total Purchase_Value per Player
Sorted_Player_Purchases_df["Purchase_Value"] = Player_Purchases(int["Purchase_Count"] * int["Average_Purchase_Price"])
Sorted_Player_Purchases_df.head()

# Most Popular Items
     Retrieve the Item ID, Item Name, and Item Price columns
     Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value
     Create a summary data frame to hold the results
     Sort the purchase count column in descending order
     Optional: give the displayed data cleaner formatting
     Display a preview of the summary data frame

In [61]:
# Retrieve the Item ID, Item Name, and Item Price columns
most_pop = purchase_df[["Item_ID", "Item_Name", "Price"]].groupby("Item_ID")
most_pop.head()

     Item_ID                                     Item_Name  Price
0        108     Extraction, Quickblade Of Trembling Hands   3.53
1        143                             Frenzied Scimitar   1.56
2         92                                  Final Critic   4.88
3        100                                   Blindscythe   3.27
4        131                                          Fury   1.44
5         81                                     Dreamkiss   3.61
6        169        Interrogator, Blood Blade of the Queen   2.18
7        162                                 Abyssal Shard   2.67
8         21                                     Souleater   1.10
9        136                  Ghastly Adamantite Protector   3.58
10        95                         Singed Onyx Warscythe   4.74
11       162                                 Abyssal Shard   2.67
12       116                       Renewed Skeletal Katana   4.18
13         4                            Bloodlord's Fetish   1.70
14       165                   Bone Crushing Silver Skewer   4.86
15        98                   Deadline, Voice Of Subtlety   2.89
16        40                                 Second Chance   2.52
17       161                                        Devine   1.76
18        82                                       Nirvana   4.90
19        89             Blazefury, Protector of Delusions   4.64
20        57               Despair, Favor of Due Diligence   4.60
21       168           Sun Strike, Jaws of Twisted Visions   1.48
22        24                                 Warped Fetish   3.81
23       151                                     Severance   3.40
24       141                                    Persuasion   3.19
25       178  Oathbreaker, Last Hope of the Breaking Storm   4.23
26        71                                        Demise   1.61
27        96                   Blood-Forged Skeletal Spine   3.09
28       119     Stormbringer, Dark Blade of Ending Misery   4.32
29        37           Shadow Strike, Glory of Ending Hope   3.16
..       ...                                           ...    ...
731       12                                         Dawne   1.02
732       97                   Swan Song, Gouger Of Terror   2.50
733       66                            Victor Iron Spikes   4.40
734      165                   Bone Crushing Silver Skewer   4.86
736       58             Freak's Bite, Favor of Holy Might   4.14
737      149             Tranquility, Razor of Black Magic   1.75
738      121                                      Massacre   1.60
739       61                                      Ragnarok   3.87
740      127                  Heartseeker, Reaver of Souls   3.92
742        5                                    Putrid Fan   4.08
744       94                                Mourning Blade   3.49
747      146                          Warped Iron Scimitar   3.10
748       55                         Vindictive Glass Edge   2.27
750      167                   Malice, Legacy of the Queen   3.61
751      180                                   Stormcaller   3.36
752      112                                  Worldbreaker   2.60
754       79                           Alpha, Oath of Zeal   4.05
755       76                      Haunted Bronzed Bludgeon   3.15
756       73                                   Ritual Mace   2.05
757       57               Despair, Favor of Due Diligence   4.60
758      182                                     Toothpick   4.03
760       44                         Bonecarvin Battle Axe   2.38
761       17                  Lazarus, Terror of the Earth   1.70
764      113                             Solitude's Reaver   4.07
765      130                                         Alpha   2.07
766       58             Freak's Bite, Favor of Holy Might   4.14
774      101                                  Final Critic   4.19
777       67         Celeste, Incarnation of the Corrupted   3.46
778      101                                  Final Critic   4.19
779       50                                          Dawn   4.60

[697 rows x 3 columns]

In [62]:
# Create new DataFrame for Items Purhcases 
most_pop_ct = pd.DataFrame(most_pop["Item_Name"].value_counts())
most_pop_ct.head()

                            Item_Name
Item_ID Item_Name
0       Splinter                    4
1       Crucifer                    3
2       Verdict                     6
3       Phantomlight                6
4       Bloodlord's Fetish          5

In [63]:
# Rename "Item_Name" column to "Purchase_Count"
most_pop_ct = most_pop_ct.rename(
    columns={"Item_Name": "Purchase_Count"})
most_pop_ct.head()

                            Purchase_Count
Item_ID Item_Name
0       Splinter                         4
1       Crucifer                         3
2       Verdict                          6
3       Phantomlight                     6
4       Bloodlord's Fetish               5

In [ ]:
# Add Price Column for value of each Item
most_pop_ct["Price"] = most_pop["Price"].get_values
most_pop_ct

In [ ]:
# Add Column with "Total_Purchase_Value"
most_pop_ct["Total_Purchase_Value"] = most_pop_ct.Purchase_Count * most_pop_ct.Price
most_pop_ct

# Most Profitable Items
     Sort the above table by total purchase value in descending order
     Optional: give the displayed data cleaner formatting 
     Display a preview of the data frame